/* Не забудь подключить нужные шрифты. Удачи в разработке! */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    min-height: 100vh;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
}

.title {
    text-align:center;
}

.coolbutton {
    background-color: black;
    color: white;
    font-size: 22px;
    padding: 5px;
    border-radius: 25px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 700;
    transition: all ease-out .1s
}

.coolbutton:hover {
    background-color: rgb(88, 88, 88);
}
